@charset "utf-8";
/* CSS Document */


/*any defaults for the overall look of the page*/
html{
	background-color: darkseagreen; 
}

header{
	background-color: darkseagreen;
		text-align: center; }

.h2 {font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
	text-transform: uppercase;
	float: center;
	padding: 10px 10px;
	font-size: 17px;
	hover: 17px;
}
section{
	
	max-width:1200px;
	box-sizing: border-box;
	margin:0 auto;
	padding: 30px;
	/*This will make section size of all of the content, even floating content.*/
	overflow:hidden;}

.p1 {font-family: 'Inter Tight', sans-serif;
}
.p2 {font-family: 'Roboto', sans-serif;
}
.h1 {font-family: 'Inter Tight', sans-serif;
	background-color: #7F2032;
	color: #EBB1D3;
}
/************************NavBar*********************************/
nav ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
  overflow: hidden;
  background-color: #CC586E;
}

nav li {
  float: left;
	padding-right: 20px;
	font-size: 15px;
	text-align: center;
}
nav li a:link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #244921;
}

.sticky{
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/*********Links*************/
/*default look*/
a:link{
	font-size: 16px;
	color: #371720;
	text-decoration: none;
}
/*previously visted*/
a:visited{
	font-size: 16px;
	color:#00157A; 
	text-decoration: none;
}
a:hover{
	font-size: 16px;
	color:#345A31;
		/*remove underline*/
	text-decoration:none; }

a:active{
	font-size: 16px;
	color:#1CB524;
	text-decoration: none; }


/*********Lists************/

.ul {text-align: match-parent;
	padding-left: 20px;}
